/* Reset */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}



/* Typography */

h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 1px solid #FFF;
  border-radius: 4px;
  color: white;
  padding: 8px 16px;
}

figure {
  display: flex;
  justify-content: center;
  margin: 24px;
}
img {
  max-width: 100%;
}


/* Layout */

.App {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  margin: auto;
  max-width: 80vw;
  width: 100%;
}

.App-nav-links {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  list-style: none;
}

.App-nav picture {
  border-radius: 50%;
  display: flex;
  height: 48px;
  overflow: hidden;
  width: 48px;
}

.App-nav a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
}

.App-main {
  flex-grow: 1;
  margin: auto;
  max-width: 80vw;
  width: 100%;
}

.App-header {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.App-footer {
  height: 4rem;
  margin-top: 4rem;
}



/* Loader */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Image */
.Image {
  height: auto; 
  max-width: 100%;
}



/* Home */
.Home-content {
  margin-top: 4rem;

}



/* Posts list */

.Posts-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 12px;
  margin-top: 48px;
  width: 100%;
  @media screen and (min-width: 768px) {
    grid-gap: 48px;
  }
}

.Posts-list > * {
  grid-column: span 12;
  @media screen and (min-width: 768px) {
    grid-column: span 6;
  }
  @media screen and (min-width: 1200px) {
    grid-column: span 4;
  }
  @media screen and (min-width: 1920px) {
    grid-column: span 3;
  }
}

.Post-excerpt {
  border: 1px solid #FFF;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
}


.Post-excerpt :nth-child(2) {
  flex-grow: 1;
}



/* Single post */

.Post-header {
  margin-bottom: 3rem;
}

.Post-ctas-container {
  display: flex;
  justify-content: space-between;
}

.Post-ctas-container button {
  font-size: 1.6rem;
}

.Post h3 {
  margin-top: 1rem;
}

.Post-content {
  text-align: justify;
}

.Users-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding-top: 96px;
}